/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 
/* Browser Resets */
.oc-banner7-container .flex-container a:active,
.oc-banner7-container .flexslider a:active,
.oc-banner7-container .flex-container a:focus,
.oc-banner7-container .flexslider a:focus  {outline: none;}
.oc-banner7-container .slides,
.oc-banner7-container .flex-control-nav,
.oc-banner7-container .flex-direction-nav {ocrgin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.oc-banner7-container .flexslider {ocrgin: 0; padding: 0;}
.oc-banner7-container .flexslider .slides > li {display: none; -webkit-backface-visibility: hidden; position: relative; } /* Hide the slides before the JS is loaded. Avoids iocge jumping */
.oc-banner7-container .flexslider .slides img {display: block;}
.oc-banner7-container .flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.oc-banner7-container .slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .oc-banner7-container .slides {display: block;} 
* html .oc-banner7-container .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, ocke sure you
 * include js that eliminates this class on page load */
.no-js .oc-banner7-container .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.oc-banner7-container .flexslider {ocrgin: 0 0 0px 0; position: relative; zoom: 1;}
.oc-banner7-container .flex-viewport {ocx-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.oc-banner7-container .loading .flex-viewport {ocx-height: 300px;}
.oc-banner7-container .flexslider .slides {zoom: 1;}

.oc-banner7-container .carousel li {ocrgin-right: 5px}
/* Direction Nav */
/*.nivo-directionNav {
    position: absolute;
    bottom: 17%;
    left: 50%;
    width: 110px;
    margin-left: 60px;
}
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:9;
	cursor:pointer;
}
.nivo-prevNav {
	left:5px;
}
.nivo-nextNav {
	right:0px;
}
.oc-banner7-container .flex-direction-nav {height: 0;}
.oc-banner7-container .flex-direction-nav a,
.oc-banner7-container .flex-direction-nav .flex-next,
.oc-banner7-container .flex-direction-nav .flex-prev,
.oc-banner7-container .flexslider:hover .flex-next:hover, .oc-banner7-container .flexslider:hover .flex-prev:hover {opacity: 1;}
.oc-banner7-container .flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}*/

/* Control Nav */
.nivo-controlNav {
	text-align:center;
	padding:0;
}
.nivo-controlNav a {
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}
.oc-banner7-container .flex-control-nav,
.nivo-controlNav {width: 100%; position: absolute; bottom: 10px; text-align: center;}
.oc-banner7-container .flex-control-nav li { ocrgin: 0 6px; display: inline-block; zoom: 1; *display: inline; }
.oc-banner7-container .flex-control-paging li a,
.nivo-controlNav a {width: 11px; height: 11px; display: block; background: #aaa; cursor: pointer; text-indent: -9999px; -webkit-border-radius: 100%; -moz-border-radius: 100%; -o-border-radius: 100%; border-radius: 100%; box-shadow: inset 0 0 3px rgba(0,0,0,0.3); z-index: 9; }
.oc-banner7-container .flex-control-paging li a:hover,
.oc-banner7-container .flex-control-paging li a.flex-active,
.nivo-controlNav a:hover,
.nivo-controlNav a.active {
	cursor: pointer;
    height: 10px;
    line-height: 10px;
    width: 10px;
}


.oc-banner7-container .flex-control-thumbs {ocrgin: 5px 0 0; position: static; overflow: hidden;}
.oc-banner7-container .flex-control-thumbs li {width: 25%; float: left; ocrgin: 0;}
.oc-banner7-container .flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.oc-banner7-container .flex-control-thumbs img:hover {opacity: 1;}
.oc-banner7-container .flex-control-thumbs .flex-active {opacity: 1; cursor: default;}


.oc-nivoslider {
	/*overflow: hidden;*/
}
.nivoslider {
	position: relative;
	overflow: hidden;
	height: auto;
	width: 100%; 
}
.nivoslider img {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}
.nivo-controlNav {
    padding: 0px 0;
    text-align: center;
}
.nivo-controlNav a {
    background-color: #ffffff;
    border: 0 none;
    border-radius: 100%;
    cursor: pointer;
    display: inline-block;
    height: 8px;
    line-height: 10px;
    margin: 0 3px;
    position: relative;
    text-indent: -9999px;
    width: 8px;
}


.banner7-caption {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	background: none repeat scroll 0% 0% transparent;
	color: #FFF;
	font-size: 16px;
	z-index: 999;
}
@-webkit-keyframes timeloading {
  from {width: 0;}
  to {width: 100%;}
 }
 @keyframes timeloading {
  from {width: 0;}
  to {width: 100%;}
 }
.timeloading{
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: rgba(49, 56, 72, 0.298);
	height: 5px;
	animation: 5000ms ease-in-out 0s normal none 1 running timeloading;
}
.nivoSlider {
	position:relative;
	width:100%;
	height:auto;
	overflow: hidden;
}
.banner7-content .text-content {  position: absolute; top: 218px; right: 50%; text-align: left; margin-right: -90px; } 
.banner7-content img { top: 0; position: absolute;  height: 100%;  } 
.banner7-content h1 { 
	color: #fff;
    font-family: "Montserrat",sans-serif;
    font-size: 79px;
    font-weight: 700;
    line-height: 62px;
    text-transform: uppercase;
}
.banner7-content h2 { font-size: 40px; text-transform: uppercase; }
.banner7-content .banner7-des h3 {
	font-size: 25px;
	line-height: 25px;
	font-family: "Montserrat",sans-serif;
	color: #222;
	text-transform: uppercase; 
}
.banner7-content .banner7-des h3 .word1{color: #fff;}
.banner7-content .banner7-des h3 .word2{color: #fff; font-size: 13px;}
.banner7-readmore {   }
.banner7-readmore a {    
    background: #009587;
    color: #fff;
    display: inline-block;
    font-family: "Montserrat",sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 40px;
	height: 40px;
    margin-top: 70px;
    padding: 0 0px 0 15px;
    text-transform: uppercase;
}
.banner7-readmore a:after{
	 background: #006259 none repeat scroll 0 0;
    content: "";
    display: inline-block;
    font-family: fontawesome;
    font-size: 14px;
    height: 40px;
    margin-left: 15px;
    text-align: center;
    width: 40px;
	vertical-align: top;
}
.banner7-readmore a:hover { color: #222; border-color: #222; }
.banner7-content .banner7-des {
	margin-top: 20px;
	display: none;
}
.slider-1 .title1{
	animation: 1200ms ease-in-out 0s normal none 1 running fadeInDown;
  -moz-animation: 1200ms ease-in-out 0s normal none 1 running fadeInDown;
  -webkit-animation: 1200ms ease-in-out 0s normal none 1 running fadeInDown;
}
.slider-1 .sub-title { 
	animation: 1700ms ease-in-out 0s normal none 1 running fadeInDownBig;
  -moz-animation: 1700ms ease-in-out 0s normal none 1 running fadeInDownBig;
  -webkit-animation: 1700ms ease-in-out 0s normal none 1 running fadeInDownBig;
}
.slider-1.banner7-content .banner7-des h3.desc{
	animation: 1200ms ease-in-out 0s normal none 1 running fadeInUp;
  -moz-animation: 1200ms ease-in-out 0s normal none 1 running fadeInUp;
  -webkit-animation: 1200ms ease-in-out 0s normal none 1 running fadeInUp;
}
.slider-1 .banner7-readmore a{
	animation: 1600ms ease-in-out 0s normal none 1 running fadeInUp;
  -moz-animation: 1600ms ease-in-out 0s normal none 1 running fadeInUp;
  -webkit-animation: 1600ms ease-in-out 0s normal none 1 running fadeInUp;
}
.slider-1 .img1{
	animation: 800ms ease-in-out 0s normal none 1 running zoomInRight;
  -moz-animation: 800ms ease-in-out 0s normal none 1 running zoomInRight;
  -webkit-animation: 800ms ease-in-out 0s normal none 1 running zoomInRight;
}
.slider-1 .banner7-des ul li{
	background-color: #424242;
    clear: both;
    color: #fff;
    display: block;
    float: right;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 6px;
    opacity: 0.5;
    padding: 10px;
	text-transform: capitalize;
}
.slider-1 .banner7-des ul li.item3:before{
	content: "\f085";
	font-family: fontawesome;
    margin-right: 10px;
}
.slider-1 .title1 span { 
	margin-left: -6px;
}
.slider-1 .sub-title {
	background: rgba(34, 34, 34, 1);
    clear: both;
    color: #ffffff;
    display: inline-block;
    font-size: 14px;
	padding: 0 14px;
	font-family: "Montserrat",sans-serif;
    text-transform: uppercase;
}

.slider-1 .img1 { margin-left: 120px; left: 50%; }
.slider-1 .banner7-readmore { display: inline-block; width: 100%;  }

.slider-2 {    top: 0%; }
 

.slider-2 .title1 { font-size: 79px; color: #fff; line-height: 62px; /*line-height: 70px;*/  }
.slider-2 .sub-title{
    background: rgba(34, 34, 34, 1) none repeat scroll 0 0;
    clear: both;
    color: #ffffff;
    display: inline-block;
    font-family: "Montserrat",sans-serif;
    font-size: 14px;
    padding: 0 14px;
    text-transform: uppercase;
}
.slider-2.banner7-content .banner7-des{
	margin-top: 0;
}
.slider-2.banner7-content .banner7-des h3 span{color: #009587;}
.slider-2 .banner7-des ul li {
    background-color: #424242;
    clear: both;
    color: #fff;
    display: block;
    float: right;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 6px;
    opacity: 0.5;
    padding: 10px;
    text-transform: capitalize;
}
.slider-2 .banner7-readmore {
    display: inline-block;
    width: 100%;
}
.slider-2 .banner7-readmore a{ color: #fff;}
.slider-2 .banner7-readmore a{margin-top: 70px;}
.slider-2 .img1 { left: 50%; margin-left: -150px;  top: 100px;
	animation: 2000ms ease-in-out 0s normal none 1 running bounceInRight;
  -moz-animation: 2000ms ease-in-out 0s normal none 1 running bounceInRight;
  -webkit-animation: 2000ms ease-in-out 0s normal none 1 running bounceInRight }
 
.slider-2 .banner7-readmore { /*margin-top: 70px;*/ }
.slider-2.banner7-content img{height: 65%;}
.slider-2 .title1 { 
	animation: 1000ms ease-in-out 0s normal none 1 running zoomIn;
  -moz-animation: 1000ms ease-in-out 0s normal none 1 running zoomIn;
  -webkit-animation: 1000ms ease-in-out 0s normal none 1 running zoomIn;
}
.slider-2 .sub-title{
	animation: 1700ms ease-in-out 0s normal none 1 running fadeInDownBig;
  -moz-animation: 1700ms ease-in-out 0s normal none 1 running fadeInDownBig;
  -webkit-animation: 1700ms ease-in-out 0s normal none 1 running fadeInDownBig;
}
.slider-2.banner7-content .banner7-des h3{
	animation: 1000ms ease-in-out 0s normal none 1 running slideInRight;
  -moz-animation: 1000ms ease-in-out 0s normal none 1 running slideInRight;
  -webkit-animation: 1000ms ease-in-out 0s normal none 1 running slideInRight;
}
.slider-2 .banner7-readmore a{
	animation: 1200ms ease-in-out 0s normal none 1 running flipInX;
  -moz-animation: 1200ms ease-in-out 0s normal none 1 running flipInX;
  -webkit-animation: 1200ms ease-in-out 0s normal none 1 running flipInX;
}


 
@media ( max-width: 1400px) {   
}

@media ( max-width: 1199px) {
	.banner7-readmore a { font-size: 14px; line-height: 40px; }
	.slider-1 .banner7-des { margin: 10px 0; }
	.slider-2 { height: 45%; top: 41%; }
	.slider-2 .text-content { margin-top: -70px;  }
	.slider-2 .banner7-readmore { margin-top: 20px; }
	
}
 
@media ( max-width: 991px) {  
	.banner7-content { height: 75%; top: 17%; }
	/*.slider-1 .text-content { margin-right: -345px; margin-top: -105px; }*/
	.banner7-content .banner7-des { font-size: 16px; } 
	.slider-2 { height: 63%; top: 17%; }
	.slider-2 .banner7-readmore { margin-top: 20px; }
	.slider-2 .text-content,
	.slider-1 .text-content{
		margin-top: 0;
	}
	.banner7-content .banner7-des h3{font-size: 15px;}
	.banner7-content .text-content{top: 50px;}
	.banner7-content .text-content{margin-right: -115px;}
}
@media ( max-width: 767px) {   
	.banner7-content .img1 { left: 20px; margin: 0; }
	.banner7-content .text-content { right: 20px; margin-right: 0; }
}
@media (max-width: 640px) and (min-width: 360px){
	.banner7-content .img1{display: none !important;}
}
@media ( max-width: 480px) {  
.banner7-content { display: none;} 
}


/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
	width:100%;
	height:auto;
	overflow: hidden;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	max-width: none;
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
	background:white; 
	filter:alpha(opacity=0); 
	opacity:0;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo-box img { display:block; }

/* Caption styles */
.nivo-caption {
	position: absolute;
	left: 0px;
	top: 0px;
	color: #FFF;
	width: 100%;
	z-index: 8;
	height: 100%;
}
.nivo-caption p {
	padding:5px;
	margin:0;
}

.nivo-html-caption {
    display:none;
}
